@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Babylonica&family=Carrois+Gothic&family=Cedarville+Cursive&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Festive&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hammersmith+One&family=Italianno&family=Molle&family=Moo+Lah+Lah&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Maps&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

#header {
    background-color: #592941;
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .h_content {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Pacifico";
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }