#footer {
    background-color: #592941;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  #f_content {
    font-size: 0.9rem;
  }

     
  